name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:


  # Job 1 : Unit tests (Jest)

  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run unit tests
        run: npm test



  # Job 2 : E2E tests (Cypress)

  e2e-tests:
    runs-on: ubuntu-latest
    needs: unit-tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Start application
        run: npm start &

      - name: Wait for app to be ready
        run: npx wait-on http://localhost:3000

      - name: Run Cypress tests
        run: npm run test:e2e


 
  # Job 3 : Build & Push Docker Hub
 
  docker:
    runs-on: ubuntu-latest
    needs: [unit-tests, e2e-tests]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t johary94/tp-cicd-azure:latest .

      - name: Push Docker image
        run: docker push johary94/tp-cicd-azure:latest


  # Job 4 : Deploy on Azure VM (SSH)
 
  # deploy:
#   runs-on: ubuntu-latest
#   needs: docker
#   steps:
#     - name: Deploy on Azure VM via SSH
#       uses: appleboy/ssh-action@v1.0.3
#       with:
#         host: ${{ secrets.AZURE_HOST }}
#         username: ${{ secrets.AZURE_USER }}
#         key: ${{ secrets.AZURE_SSH_KEY }}
#         script: |
#           docker pull johary94/tp-cicd-azure:latest
#           docker stop myapp || true
#           docker rm myapp || true
#           docker run -d -p 3000:3000 --name myapp johary94/tp-cicd-azure:latest
#           curl -f http://localhost:3000/health

